[flake8]
max-line-length = 88
exclude = .tox,.git,__pycache__,docs
ignore = E203,W503
select = C,E,F,W,B,B9,I
# C: complexity
# E: pycodestyle errors
# F: pyflakes errors
# W: pycodestyle warnings
# B: bugbear errors
# B9: bugbear warnings
# I: isort errors
# Plugins
require-code = True
ban-relative-imports = True
docstring-convention = google
# flake8-bugbear
# flake8-eradicate
# flake8-docstrings
